.container {
	width: 100%;
}
#myTV {
	background-image:url('images/screen.jpg');
	width: 619px;
	height: 398px;
	padding-top: 14px;
	margin: 0 auto;
}
#myScreen {
	widows: 461px;
	height: 348px;
	margin-left: 14px;
}
img {
	width: 588px;
	height: 354px;
}